<% if @faqs.count %>
	<% @faqs.each do |faq| %>
		<h3><%= link_to faq.question, faq_path(faq) %></h3>
		<p><%= faq.answer %></p>
		<%= link_to "Edit", edit_faq_path(faq) %>
		<%= link_to "Delete", faq_path(faq), method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
<% end %>