<h1>Contacts#show</h1>
<p>Find me in app/views/contacts/show.html.erb</p>

<h1><%= @contact.header %></h1>
<p><%= @contact.body %></p>
<p><%= @contact.phone %></p>

<%= link_to "Edit", edit_contact_path(@contact) %>
