@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


html {
	position: relative;
	min-height: 100%;
}

body {
}

.page-body {
	position: relative;
	min-height: 100%;
	padding-bottom: 100px;
}

.navbar-default {
	background-color: white;
	border: none;
}

.logo_large img {
	width: 115px;
	margin-top: -12px;
}

.logo_small img {
	width: 60px;
	margin-top: -15px;
}

ul.navbar-right {
	margin-top: 22px;
}

#navbar {
	border: none;
}

.nyccc {
	width: 100px;
	margin: auto;
	float: none;
}

.devise {
	height: 0;
	margin: 0;
	padding: 5px;
}

.footer {
	height: 100px;
	width: 100%;
	background: #930753;
	color: white;
	position: absolute;
	bottom: 0;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: auto;
}

.carousel {
	background-color: #930753;
}

#myCarousel {
	margin-left: -15px;
	margin-right: -15px;
}


.homepage-icons {
	height: 150px;
	line-height: 100px;
}

.homepage-icons i {
	padding-top: 30px;
	font-size: 3em;
	vertical-align: middle;
}

.homepage-icons h3 {
	margin-top: 5px;
}

.icon-row {
}

.icon-links {
	color: #333;
}

.icon-container {
	height: auto;
}


.homepage-text-container {
	margin-top: 50px;
	margin-bottom: 50px;
}



@media (max-width : 768px) {
	body {
		
	}

	.space-div {
		clear: both;
	}

	.devise {
		padding: 0;
	}
}










