

	<% @cats.each do |cat| %>

		<div class="cat-index-info">
			<h1 class="cat-index-name"><%= link_to cat.name, cat_path(cat) %></h1>
			<p class="cat-index-age"><%= cat.age %> Years Old</p>
		</div>


		<%= link_to( image_tag(cat.pictures.first.image.url(:large), class: "cats-index-images"), cat_path(cat) ) %>


		<div class="cat-index-description-div">
			<p class="cat-index-description"><%= cat.description %></p>
		</div>


	<% end %>
	

