<h1><%= @cat.name %></h1>
<p><%= @cat.description %></p>

<% if @pictures %>
	<!-- make partial for this -->
	<% @pictures.each do |picture| %>
		<%= image_tag picture.image.url(:medium) %>
	<% end %>
<% end %>